# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Next.js
.next/

# environment variables
.env

# firebase keys
firebaseServiceKey.json
serviceAccountKey.json

# logs
npm-debug.log*
